@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

.nav-button {
  border: 2px solid black;
  padding: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.nav-button:hover {
  background-color: black;
  color: white;
}


.newsletter-container {
  transition: transform 0.5s ease;
}

.newsletter-container.animate__fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
